<p>calculator-parent works!</p>
<div NgIf="CalcName == 'plasticshrinkage'">
    <!-- insert select here -->
</div>
<div NgIf="CalcName == 'tcpowers'">
    <a class="about-tutorial-and-calc-button">
        <button mat-raised-button color="basic">Calculator</button>
        <button mat-raised-button color="basic">About</button>
        <button mat-raised-button color="basic">Tutorial</button>
    </a>
    <app-tcpowers></app-tcpowers>
    <!-- insert select here -->
</div>
<div NgIf="CalcName == 'bogue'">
    <a class="about-tutorial-and-calc-button">
        <button mat-raised-button color="basic">Calculator</button>
        <button mat-raised-button color="basic">About</button>
        <button mat-raised-button color="basic">Tutorial</button>
    </a>
    <app-bogue></app-bogue>
</div>
<div NgIf="CalcName == 'morterandmix'">
    <a class="about-tutorial-and-calc-button">
        <button mat-raised-button color="basic">Calculator</button>
        <button mat-raised-button color="basic">About</button>
        <button mat-raised-button color="basic">Tutorial</button>
    </a>
    <app-mortar-and-mix></app-mortar-and-mix>
</div>
