<header>
  <mat-toolbar class="header-toolbar">
    <button mat-icon-button (click)="toggleSidenav()" class="sidenav-toggle-button">
      <mat-icon>{{ sidenavOpened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <div class="logo-container">
      <img src="assets/images/Logo2.png" alt="Logo" class="logo-image" />
    </div>
    <button mat-raised-button class="loggedin-button" color="accent">Not Logged In</button>
  </mat-toolbar>
</header>


<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="sidenavOpened">
    <nav>
      <div class="navButton">
        <a [routerLink]="['./home']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Home</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/plasticshrinkage']" routerLinkActive="active-link">
          <button mat-raised-button class="btn-purple">Plastic Shrinkage Cracks</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/tcpowers']" routerLinkActive="active-link">
          <button mat-raised-button class="btn-red">TC Powers Volume</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/bogue']" routerLinkActive="active-link" title='Bogue'>
          <button mat-raised-button class="btn-orange">Bogue</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/concretemix']" routerLinkActive="active-link">
          <button mat-raised-button class="btn-yellow">Concrete Mix</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/mortarandmix']" routerLinkActive="active-link">
          <button mat-raised-button class="btn-green">Mortar Mix</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./login']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Login</button>
        </a>
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



