<header>
  <mat-toolbar class="header-toolbar">
    <div class="logo-container">
      <img src="assets/images/Logo2.png" alt="Logo" class="logo-image" />
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened hasBackdrop="false">
    <nav>
      <div class="navButton">
        <a [routerLink]="['./home']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Home</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/plasticshrinkage']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Plastic Shrinkage Cracks</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/tcpowers']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">TC Powers Volume</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/bogue']" routerLinkActive="active-link" title='Bogue'>
          <button mat-raised-button color="primary">Bogue</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./calc/morterandmix']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Concrete & Mortar Mix</button>
        </a>
      </div>
      <div class="navButton">
        <a [routerLink]="['./login']" routerLinkActive="active-link">
          <button mat-raised-button color="primary">Login</button>
        </a>
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



