mat-sidenav-container {
    height: 100%;
  }
  
  .navButton {
    padding: 5px;
  }
  
  .navButton button {
    width: 100%;
  }
  
  .active {
    background: white;
  }
  
  .header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Combines both definitions */
    height: 100px;
    padding: 0 20px;
    background-color: #C3C3C3;
  }
  
  .sidenav-toggle-button {
    margin-right: auto;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }
  
  .logo-image {
    max-height: 100px; 
    width: auto;
  }

  .loggedin-button {
    margin-left: auto; 
  }
  
  .btn-purple {
    background-color: purple !important;
    color: white !important;
  }
  
  .btn-red {
    background-color: red !important;
    color: white !important;
  }
  
  .btn-orange {
    background-color: orange !important;
    color: white !important;
  }
  
  .btn-yellow {
    background-color: yellow !important;
    color: black !important;
  }
  
  .btn-green {
    background-color: green !important;
    color: white !important;
  }
  