<h2>Plastic-Shrinkage-Cracks Calculation</h2>

<p>Evaporation Rate = ([Concrete Temperature]<sup>2.5</sup> - ([relative Humidity]/100) * [air temperature]<sup>2.5</sup>)(1 + 0.4[wind velocity])*10<sup>-6</sup></p>
<div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Concrete Temperature (F): </mat-label>
      <input matInput type="number" [(ngModel)]="cT" (ngModelChange)="calculatePlasticShrinkageCracks(cT, aT, rH, wV)" placeholder="Enter Value">
      <!-- <mat-error *ngIf="cao <= 0">Please enter a value greater than 0</mat-error> -->
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Air Temperature (F): </mat-label>
      <input matInput type="number" [(ngModel)]="aT" (ngModelChange)="calculatePlasticShrinkageCracks(cT, aT, rH, wV)" placeholder="Enter Value">
      <!-- <mat-error *ngIf="cao <= 0">Please enter a value greater than 0</mat-error> -->
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Relative Humidity (%): </mat-label>
      <input matInput type="number" [(ngModel)]="rH" (ngModelChange)="calculatePlasticShrinkageCracks(cT, aT, rH, wV)" placeholder="Enter Value">
      <!-- <mat-error *ngIf="cao <= 0">Please enter a value greater than 0</mat-error> -->
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Wind Velocity (mph): </mat-label>
      <input matInput type="number" [(ngModel)]="wV" (ngModelChange)="calculatePlasticShrinkageCracks(cT, aT, rH, wV)" placeholder="Enter Value" min="0">
      <mat-error *ngIf="wV <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>
</div>

<!-- displays results from plastic-shrinkage-cacks.component.ts -->
<div id="results">
    <h4><br><br>Plasic Shrinkage Cracks Results</h4>
    <p>Evaporation Rate (Ib/ft<sup>2</sup>/hr): {{ results?.eR.toFixed(3) }}</p>

    <table mat-table [dataSource]="[results]" class="mat-elevation-z8">
        <!-- evap Column -->
        <ng-container matColumnDef="eR">
          <th mat-header-cell *matHeaderCellDef>Evaporation Rate (Ib/ft<sup>2</sup>/hr): </th>
          <td mat-cell *matCellDef="let result">{{ results?.eR.toFixed(3) }}%</td>
        </ng-container>
        <ng-container matColumnDef="suggestion">
            <th mat-header-cell *matHeaderCellDef>suggestion </th>
            <td mat-cell *matCellDef="let result">{{ results?.suggestion }}</td>
        </ng-container>
    
        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
