<!-- <p>Imperial</p> -->

<h2>Concrete Mix - Imperial</h2>

<div class="toggle-container">
  <mat-slide-toggle
    color="primary"
    [(ngModel)]="isMetric"
    (change)="onUnitToggleChange($event)"
  >
    Switch to {{ isMetric ? 'Imperial' : 'Metric' }} 
  </mat-slide-toggle>
</div>

<!-- 8 rows for inputs -->
<div style="display: flex; flex-direction: column; gap: 10px;"> 

<!-- Row 1: Volume and air content -->
<div class="form-row">
  <label for="volumeInput" class="input-label">General:</label>
  
  <!-- Volume (in³) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Volume (in³)</mat-label>
    <input id="volumeInput" matInput type="number" [(ngModel)]="userVolume" (ngModelChange)="onUserVolumeChange()" 
            [value]="userVolume | number:'1.0-2'"
            placeholder="Enter volume" min="0" step="1">
    <mat-error *ngIf="userVolume <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>

  <!-- Air content -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Air content (%)</mat-label>
    <input matInput type="number" [(ngModel)]="airContent" (ngModelChange)="onAirContentChange($event)" 
            [value]="airContent | number:'1.0-2'"
            placeholder="Enter air content" min="0" step="1">
  </mat-form-field>

</div>

<!-- Row 2 Moisture Content -->
<div class="form-row">
  <label for="moistureContent" class="input-label">Mouisture content:</label>
<mat-form-field appearance="fill" class="auto-width">
    <mat-label>Fine aggregate moisture content</mat-label>
    <input id="moistureContent" matInput type="number" [(ngModel)]="fineAggregateMC" (ngModelChange)="onFineAggregateMCChange()" 
           [value]="fineAggregateMC | number:'1.0-2'" 
           placeholder="Fine aggregate moisture content" step="1">
    <mat-error *ngIf="fineAggregateMC === null">Please enter a value</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Coarse aggregate moisture content</mat-label>
    <input matInput type="number" [(ngModel)]="coarseAggregateMC" (ngModelChange)="onCoarseAggregateMCChange()" 
           [value]="coarseAggregateMC | number:'1.0-2'" 
           placeholder="Coarse aggregate moisture content" step="1">
    <mat-error *ngIf="coarseAggregateMC === null">Please enter a value</mat-error>
  </mat-form-field>
</div> 

<!-- Row 3 Cement -->
<div class="form-row">
  <label for="cementInput" class="input-label">Cement:</label>
    
  <!-- Cement (lb) Input -->
  <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Cement (lb)</mat-label>
      <input id="cementInput" matInput type="number" [(ngModel)]="cementLb" (ngModelChange)="onCementLbChange()" 
              [value]="cementLb | number:'1.0-2'"
              placeholder="Cement (lb)" min="0" step="1">
      <mat-error *ngIf="cementLb <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>
  
    <!-- Cement (SG) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Cement (SG)</mat-label>
    <input matInput type="number" [(ngModel)]="cementSG" (ngModelChange)="onCementSGChange()" 
            [value]="cementSG | number:'1.0-2'"
            placeholder="Cement (SG)" step="1" min="0">
    <mat-error *ngIf="cementSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<!-- Row 4 Fly Ash -->
<div class="form-row">
  <label for="flyAshInput" class="input-label">Fly ash:</label>
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Fly ash (lb)</mat-label>
    <input id="flyAshInput" matInput type="number" [(ngModel)]="flyAshLb" (ngModelChange)="onFlyAshLbChange()" 
           [value]="flyAshLb | number:'1.0-2'"
           placeholder="Fly ash (lb)" min="0" step="1">
    <mat-error *ngIf="flyAshLb < 0">Please enter a value of 0 or greater</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Fly ash (SG)</mat-label>
    <input matInput type="number" [(ngModel)]="flyAshSG" (ngModelChange)="onFlyAshSGChange()" 
            [value]="flyAshSG | number:'1.0-2'"
            placeholder="Fly ash (SG)" step="1" min="0">
    <mat-error *ngIf="flyAshSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<!-- Row 5 Blast furnance slag -->
<div class="form-row">
  <label for="blastFurnaceSlagInput" class="input-label">Blast furnace slag:</label>
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Blast furnace slag (lb)</mat-label>
    <input id="blastFurnaceSlagInput" matInput type="number" [(ngModel)]="blastFurnanceSlagLb" 
           (ngModelChange)="onBlastFurnaceSlagLbChange()" 
           [value]="blastFurnanceSlagLb | number:'1.0-2'"
           placeholder="Blast furnace slag (lb)" min="0" step="1">
    <mat-error *ngIf="blastFurnanceSlagLb < 0">Please enter a value of 0 or greater</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Blast furnace slag (SG)</mat-label>
    <input matInput type="number" [(ngModel)]="blastFurnanceSlagSG" (ngModelChange)="onBlastFurnaceSlagSGChange()" 
            [value]="blastFurnanceSlagSG | number:'1.0-2'"
            placeholder="Blast furnace slag (SG)" step="1" min="0">
    <mat-error *ngIf="blastFurnanceSlagSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<!-- Row 6: Fine Aggregates -->
<div class="form-row">
  <label for="fineAggregatesLbInput" class="input-label">Fine aggregates:</label>

  <!-- Fine Aggregates (lb) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Fine aggregates (lb)</mat-label>
    <input id="fineAggregatesLbInput" matInput type="number" [(ngModel)]="fineAggregatesLb" 
           (ngModelChange)="onFineAggregatesLbChange()" 
           [value]="fineAggregatesLb | number:'1.0-2'"
           placeholder="Fine aggregates (lb)" min="0" step="1">
    <mat-error *ngIf="fineAggregatesLb <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>

  <!-- Fine Aggregates (SG) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Fine aggregates (SG)</mat-label>
    <input id="fineAggregatesSGInput" matInput type="number" [(ngModel)]="fineAggregatesSG" 
           (ngModelChange)="onFineAggregatesSGChange()" 
           [value]="fineAggregatesSG | number:'1.0-2'"
           placeholder="Fine aggregates (SG)" min="0" step="1">
    <mat-error *ngIf="fineAggregatesSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<!-- Row 7 Coarse aggregates -->
<div class="form-row">
  <label for="coarseAggregatesLbInput" class="input-label">Coarse aggregates:</label>

<mat-form-field appearance="fill" class="auto-width">
  <mat-label>Coarse aggregates (lb)</mat-label>
  <input id="coarseAggregatesLbInput" matInput type="number" [(ngModel)]="coarseAggregatesLb" (ngModelChange)="onCoarseAggregatesLbChange()" 
          [value]="coarseAggregatesLb | number:'1.0-2'" 
          placeholder="Coarse aggregates (lb)" min="0" step="1">
  <mat-error *ngIf="coarseAggregatesLb <= 0">Please enter a value greater than 0</mat-error>
</mat-form-field>
  
<!-- Coarse Aggregates (SG) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Coarse aggregates (SG)</mat-label>
    <input matInput type="number" [(ngModel)]="coarseAggregatesSG" 
           (ngModelChange)="onCoarseAggregatesSGChange()" 
           [value]="coarseAggregatesSG | number:'1.0-2'"
           placeholder="Coarse aggregates (SG)" min="0" step="1">
    <mat-error *ngIf="coarseAggregatesSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<!-- Row 8: Water -->
<div class="form-row">
  <label for="waterInput" class="input-label">Water:</label>
    
  <!-- Water (lb) Input -->
  <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Water (lb)</mat-label>
      <input id="waterInput" matInput type="number" [(ngModel)]="waterLb" (ngModelChange)="onWaterLbChange()" 
              [value]="waterLb | number:'1.0-2'"
              placeholder="Water (lb)" min="0" step="1">
      <mat-error *ngIf="waterLb <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>
  
    <!-- Water (SG) Input -->
  <mat-form-field appearance="fill" class="auto-width">
    <mat-label>Water (SG)</mat-label>
    <input matInput type="number" [(ngModel)]="waterSG" (ngModelChange)="onWaterSGChange()" 
            [value]="waterSG | number:'1.0-2'"
            placeholder="Water (SG)" step="1" min="0">
    <mat-error *ngIf="waterSG <= 0">Please enter a value greater than 0</mat-error>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Ingredient Column -->
  <ng-container matColumnDef="ingredient">
    <th mat-header-cell *matHeaderCellDef> Ingredient </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
  </ng-container>

  <!-- lb Column -->
  <ng-container matColumnDef="lb">
    <th mat-header-cell *matHeaderCellDef> lb </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.lb | number:'1.2-2'}} </td>
  </ng-container>

  <!-- SG Column -->
  <ng-container matColumnDef="Specific gravity">
    <th mat-header-cell *matHeaderCellDef> Specific Gravity </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SG | number:'1.2-2'}} </td>
  </ng-container>

  <!-- Feet cubed Column -->
  <ng-container matColumnDef="Feet cubed">
    <th mat-header-cell *matHeaderCellDef> ft³ </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.ftCubed | number:'1.2-2'}} </td>
  </ng-container>

  <!-- One foot cubed Column -->
  <ng-container matColumnDef="One foot cubed">
    <th mat-header-cell *matHeaderCellDef> 1 ft³ </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.oneFootCubed | number:'1.2-2'}} </td>
  </ng-container>
  
  <!-- One yard cubed Column -->
  <ng-container matColumnDef="One yard cubed">
    <th mat-header-cell *matHeaderCellDef> 1 yd³ </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.oneYardCubed | number:'1.2-2'}} </td>
  </ng-container>

  <!-- SSD Mix Amount Ft Cubed Column -->
  <ng-container matColumnDef="SSDMixAmountFtCubed">
    <th mat-header-cell *matHeaderCellDef> SSD Mix Amount (ft³) </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SSDMixAmountFtCubed | number:'1.2-2'}} </td>
  </ng-container>

  <!-- SSD Mix Amount Ft Cubed Column -->
  <ng-container matColumnDef="SSDMixAmountLbs">
    <th mat-header-cell *matHeaderCellDef> SSD Mix Amount (lbs) </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SSDMixAmountLbs | number:'1.2-2'}} </td>
  </ng-container>

  <!-- stockMixAmountLbs Column -->
  <ng-container matColumnDef="stockMixAmountLbs">
    <th mat-header-cell *matHeaderCellDef> Stock Mix Amount (lbs) </th>
    <td mat-cell *matCellDef="let element"> {{element.stockMixAmountLbs | number:'1.2-2'}} </td>
  </ng-container>
  
  <!-- Total Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.total-row]="row.name === 'Total'"></tr>

</table>

<div>
  <br><strong>Water Content Ratio:</strong> {{ waterContentRatio | number:'1.2-2' }}
</div>
