table {
    width: 100%;
  }

.total-row {
    font-weight: bold;
  }
  
.form-container {
    display: flex;
    align-items: center;
  }
  
.auto-width {
    flex: 1; /* Field will automatically adjust */
    min-width: 250px; /* Minimum width */
  }
  
.toggle-container {
    margin: 20px; 
  }

  .input-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin-right: 16px; 
  }
  
  .column:last-child {
    margin-right: 0; 
  }

  
  
