<!-- <p>Metric</p> -->

<h2>Concrete Mix - Metric</h2>

<div class="toggle-container">
  <mat-slide-toggle
    color="primary"
    [(ngModel)]="isMetric"
    (change)="onUnitToggleChange($event)"
  >
    Switch to {{ isMetric ? 'Imperial' : 'Metric' }} 
  </mat-slide-toggle>
</div>

<!-- Input Fields in Four Columns -->
<div style="display: flex; justify-content: space-between;">

  <!-- First Column -->
  <div style="flex: 1; margin-right: 10px;">
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Volume (m³)</mat-label>
      <input matInput type="number" [(ngModel)]="userVolume" (ngModelChange)="onUserVolumeChange()" 
              [value]="userVolume | number:'1.0-2'"
              placeholder="Enter volume" step="1.00" min="0.00">

      <mat-error *ngIf="userVolume <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Air content (%)</mat-label>
      <input matInput type="number" [(ngModel)]="airContent" (ngModelChange)="onAirContentChange($event)" 
              [value]="airContent | number:'1.0-2'"
              placeholder="Enter air content" min="0.00" step="1">

    </mat-form-field>

    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Cement (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="cementKg" (ngModelChange)="onCementKgChange()" 
              [value]="cementKg | number:'1.0-2'"
              placeholder="Cement (kg)" step="1.00" min="0">

      <mat-error *ngIf="cementKg <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>
  </div>

  <!-- Second Column -->
  <div style="flex: 1; margin-right: 10px;">
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Blast furnance slag (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="blastFurnanceSlagKg" (ngModelChange)="onBlastFurnaceSlagKgChange()" 
              [value]="blastFurnanceSlagKg | number:'1.0-2'"
              placeholder="Blast furnance slag (lb)" min="0.00" step="1">

      <mat-error *ngIf="blastFurnanceSlagKg < 0">Please enter a value of 0 or greater</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Fly ash (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="flyAshKg" (ngModelChange)="onFlyAshKgChange()" 
              [value]="flyAshKg | number:'1.0-2'"
              placeholder="Fly ash (kg)" min="0.00" step="1">

      <mat-error *ngIf="flyAshKg < 0">Please enter a value of 0 or greater</mat-error>
    </mat-form-field>
  </div>

  <!-- Third Column -->
  <div style="flex: 1; margin-right: 10px;">
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Fine aggregate moisture content</mat-label>
      <input matInput type="number" [(ngModel)]="fineAggregateMC" (ngModelChange)="onFineAggregateMCChange()" 
              [value]="fineAggregateMC | number:'1.0-2'" 
              placeholder="Fine aggregate moisture content" step="1">

      <mat-error *ngIf="fineAggregateMC === null">Please enter a value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Coarse aggregate moisture content</mat-label>
      <input matInput type="number" [(ngModel)]="coarseAggregateMC" (ngModelChange)="onCoarseAggregateMCChange()" 
              [value]="coarseAggregateMC | number:'1.0-2'" 
              placeholder="Coarse aggregate moisture content" step="1">

      <mat-error *ngIf="coarseAggregateMC === null">Please enter a value</mat-error>
    </mat-form-field>
  </div>

  <!-- Fourth Column -->
  <div style="flex: 1;">
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Fine aggregates (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="fineAggregatesKg" (ngModelChange)="onFineAggregatesKgChange()" 
              [value]="fineAggregatesKg | number:'1.0-2'" 
              placeholder="Fine aggregates (kg)" min="0" step="1.00">

      <mat-error *ngIf="fineAggregatesKg <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Coarse aggregates (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="coarseAggregatesKg" (ngModelChange)="onCoarseAggregatesKgChange()" 
              [value]="coarseAggregatesKg | number:'1.0-2'" 
              placeholder="Coarse aggregates (kg)" min="0" step="1.00">

      <mat-error *ngIf="coarseAggregatesKg <= 0">Please enter a value greater than 0</mat-error>
    </mat-form-field>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Ingredient Column -->
  <ng-container matColumnDef="ingredient">
    <th mat-header-cell *matHeaderCellDef> Ingredient </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
  </ng-container>

  <!-- kg Column -->
  <ng-container matColumnDef="kg">
    <th mat-header-cell *matHeaderCellDef> kg </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.kg | number:'1.2-2'}} </td>
  </ng-container>

  <!-- SG Column -->
  <ng-container matColumnDef="Specific gravity">
    <th mat-header-cell *matHeaderCellDef> Specific Gravity </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SG | number:'1.2-2'}} </td>
  </ng-container>

  <!-- Meter cubed Column -->
  <ng-container matColumnDef="Meter cubed">
    <th mat-header-cell *matHeaderCellDef> m³ </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.meterCubed | number:'1.2-2'}} </td>
  </ng-container>


  <!-- One meter cubed Column -->
  <ng-container matColumnDef="One meter cubed">
    <th mat-header-cell *matHeaderCellDef> 1 m³ </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.oneMeterCubed | number:'1.2-2'}} </td>
  </ng-container>


  <!-- SSD Mix Amount Meter Cubed Column -->
  <ng-container matColumnDef="SSDMixAmountMeterCubed">
    <th mat-header-cell *matHeaderCellDef> SSD Mix Amount (m³) </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SSDMixAmountMeterCubed | number:'1.2-2'}} </td>
  </ng-container>


  <!-- SSD Mix Amount Kgs Column -->
  <ng-container matColumnDef="SSDMixAmountKgs">
    <th mat-header-cell *matHeaderCellDef> SSD Mix Amount (kg) </th>
    <td mat-cell *matCellDef="let ingredient"> {{ingredient.SSDMixAmountKgs | number:'1.2-2'}} </td>
  </ng-container>


  <!-- stockMixAmountKgs Column -->
  <ng-container matColumnDef="stockMixAmountKgs">
    <th mat-header-cell *matHeaderCellDef> Stock Mix Amount (kg) </th>
    <td mat-cell *matCellDef="let element"> {{element.stockMixAmountKgs | number:'1.2-2'}} </td>
  </ng-container>

  <!-- Total Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.total-row]="row.name === 'Total'"></tr>

</table>

<div>
  <br><strong>Water Content Ratio:</strong> {{ waterContentRatio | number:'1.2-2' }}
</div>
