<h2>Login Component</h2>

<!-- Check if the user is logged in -->
<div *ngIf="currentUser; else loginForm">
  <div *ngIf="results">
    <h2>{{ results }}</h2>
  </div>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  <button mat-raised-button color="accent" (click)="resetPassword()">Reset Password</button>
</div>

<!-- Login Form if user is not logged in -->
<ng-template #loginForm>
  <div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" placeholder="Enter your email">
      <mat-error *ngIf="email == ''">Email is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="auto-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" placeholder="Enter your password">
      <mat-error *ngIf="password == ''">Password is required</mat-error>
    </mat-form-field>
  </div>

  <!-- Buttons for User Actions -->
  <div>
    <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
    <button mat-raised-button color="accent" (click)="login()">Login</button>
    <button mat-raised-button color="warn" (click)="forgotPassword()">Forgot Password?</button>
  </div>

  <div *ngIf="results">
    <h2>{{ results }}</h2>
  </div>
</ng-template>


