table {
    width: 100%;
  }

.total-row {
    font-weight: bold;
  }
  
.form-container {
    display: flex;
    align-items: center;
  }
  
.auto-width {
    flex: 1; /* Field will automatically adjust */
    min-width: 500px; /* Minimum width */
  }
  
.toggle-container {
    margin: 20px; 
  }

